h2  {
    text-align: center;
    color: red;
}

.outerBox {
    border-style: groove;
    border-radius: 2px;
    color:black;
    margin: 5%;
    width: 90%;
    height: 90%;
    min-height: 750px;
    min-width: 800px;
}

.innerBox {
    border-style: groove;
    border-radius: 2px;
    color:grey;
    margin: 5%;
    width: 90%;
    height: 90%;
    min-height: 600px;
    min-width: 650px;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}